body{
    /* background-color: #e2bb0e; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    width: 1000px;
    height: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-dados{
    position: absolute;
    display: flex;
    gap: 1rem;
    z-index: 1;
    top: .5rem;
}
.container-tablero{
    position: relative;
    width: 900px;
}
.container-tablero img{
    width: 900px;
    filter: brightness(70%);
}
.botonDado, .ficha{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-weight: bold;
}
button[id="reload"]{
    border-radius: .5rem;
    border: none;
    padding: 1rem;
    color: white;
    background-color: rgb(70, 70, 233);
    padding: .25rem 1rem;
}
.ficha1, .ficha2{
    position: absolute;
    z-index: 1;
    transition: all .2s;
}

.coordinates{
    background-color: white;
    width: 40rem;
    padding: 1rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    border-radius: .75rem;
    position: absolute;
    text-align: center;
    right: 5rem;
    /* display: none; */
    transition: top .2s;
    top: -30rem;
}
.boton1, .ficha1{
    background-color: rgb(158, 24, 24);
}
.boton2, .ficha2{
    background-color: orange;
}
