body{
    background-color: rgb(226, 187, 14);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    width: 1000px;
    height: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-dados{
    position: absolute;
    display: flex;
    gap: 1rem;
    top: .5rem;
}
.container-tablero{
    position: relative;
    width: 900px;
}
.container-tablero img{
    width: 900px;
    filter: sepia(80%);
}
.botonDado, .ficha{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-weight: bold;
}
.ficha1, .ficha2{
    position: absolute;
    z-index: 1;
    transition: all .2s;
}

.coordinates{
    background-color: white;
    width: 10rem;
    position: absolute;
    right: 5rem;
    top: 1rem;
}
.boton1, .ficha1{
    background-color: rgb(158, 24, 24);
}
.boton2, .ficha2{
    background-color: orange;
}
